{% extends 'lp/base.html' %}

{% block content %}
{% include 'admin_panel/includes/admin-navbar.html' %}
<div class="container admin-panel-container">
    <h4 class="fw-light mb-3">Mavjud foydalanuvchilar soni: {{ people_count }}</h4>
    <div class="table-responsive">
        <table class="table fw-light">
            <thead>
                <tr>
                    <th scope="col">FISh</th>
                    <th scope="col">Telefon raqam</th>
                    <th scope="col">Manzil</th>
                    <th scope="col">Farzand maktabi va sinfi</th>
                    <th scope="col">Ro'yxatdan o'tgan sana</th>
                    <th scope="col">O'chirish</th>
                </tr>
            </thead>
            <tbody>
                {% for client in people %}
                    <tr>
                        <td>{{ client.names }}</td>
                        <td>{{ client.phone_number }}</td>
                        <td>{{ client.address }}</td>
                        <td>{{ client.childs_class }}</td>
                        <td>{{ client.date_joined|date:'d.m.Y H:i' }}</td>
                        {% if not client.is_superuser and not client.is_admin %}
                            <td>
                                <a type="button" 
                                class="btn-delete" 
                                href="{% url 'admin_panel:delete-client' client.phone_number %}">
                                    O'chirish
                                </a> 
                            </td>
                        {% else %}
                        <td>
                            <a type="button" 
                            class="btn-delete disabled" 
                            href="">
                                O'chirish
                            </a> 
                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}