{% extends 'lp/base.html' %}
{% load static %}
{% load markdownify %}

{% block content %}
<h2 class="fw-light text-center display-6 mt-5">
    {{ information.title|markdownify }}
</h2>
<div class="progress-header">
    <div class="col">
        Band o'rinlar
    </div>
    <div class="col" id="progress-percent"></div>
</div>
<div class="progress-bar">
    <div class="progress" id="progress"></div>
</div>
<div class="container product-container">
    {% if user.is_authenticated %}
        <h3>{{ information.product_title|markdownify }}</h3>
        <p class="product-information fw-light">
            {{ information.product_info|markdownify }}
        </p>
    {% endif %}
    {% if not user.is_authenticated %}
        <form action="{% url 'users:register' %}" 
        class="register-form mx-auto" 
        novalidate 
        method="post"
        id="register-form" onsubmit="return ValidateForm()">
            {% csrf_token %}
            <div class="register-div mt-3">
                <label class="form-label fw-light" for="names">
                    FISh(Familiya Ism Sharif)<span style="color: red; font-weight: bold;">*</span>
                </label>
                <input class="register-input"
                name="names"
                type="text"
                placeholder="Boltayev Bolta Boltayevich"
                maxlength="180"
                id="names">
                <p class="error fw-light mb-0" id="names-error">FISh noto'g'ri kiritildi!</p>
            </div>
            <div class="register-div mt-3">
                <label class="form-label fw-light" for="phone_number">
                    Telefon raqam<span style="color: red; font-weight: bold;">*</span>
                </label>
                <input class="register-input"
                name="phone_number"
                type="tel"
                placeholder="+998901234567"
                maxlength="13"
                id="phone_number">
                <p class="error fw-light mb-0" id="phone-number-error">Telefon raqam noto'g'ri kiritildi!</p>
                <p class="error fw-light mb-0" id="phone-number-exists-error">
                    Kiritilgan telefon raqam orqali ro'yxatdan o'tilgan!
                </p>
            </div>
            <div class="register-div mt-3">
                <label class="form-label fw-light" for="address">
                    Manzil<span style="color: red; font-weight: bold;">*</span>
                </label>
                <input class="register-input"
                name="address"
                type="text"
                placeholder="Qarshi shahri, X mahallasi Y ko`chasi Z-uy"
                maxlength="250"
                id="address">
                <p class="error fw-light mb-0" id="address-error">Manzil noto'g'ri kiritildi!</p>
            </div>
            <div class="register-div mt-3">
                <label class="form-label fw-light" for="childs_class">
                    Farzandingizni maktabi va sinfi<span style="color: red; font-weight: bold;">*</span>
                </label>
                <input class="register-input"
                name="childs_class"
                type="text"
                placeholder="XX-maktab, 3-V"
                maxlength="20"
                id="childs_class">
                <p class="error fw-light mb-0" id="childs-class-error">
                    Farzandingizni maktabi va sinfi noto'g'ri kiritildi!
                </p>
            </div>
            <p class="fw-light mt-2">
                <span style="color: red; font-weight: bold;">*</span>Majburiy maydonlar
            </p>
            <div class="mt-4 w-100 text-center">
                <button type="submit" 
                class="btn-submit"
                id="submit">
                    Ro'yxatdan o'tish &raquo;
                </button>
            </div>
        </form>
    {% endif %}
</div>
{% if user.is_authenticated %}
    <div class="rate-row row">
        <div class="col-md rate-col-1">
            <div class="rate">
                <h3 class="text-center">Oddiy tarifi</h3>
                <img src="{% static 'icons/check.png' %}" height="20"> Qo'llanma bo'yicha video tahlillar<br/><br/>
                <img src="{% static 'icons/check.png' %}" height="20"> O'zlashtirilgan bilimlar bo'yicha haftalik testlar<br/><br/>
                <img src="{% static 'icons/cross.png' %}" height="20"> 24 soat ustozlar bilan aloqa<br/><br/>
                <img src="{% static 'icons/cross.png' %}" height="20"> Ingliz tili darsliklari<br/><br/>
                <img src="{% static 'icons/cross.png' %}" height="20"> Ustozlardan to'g'ri bilim olish bo'yicha tavsiyalar<br/><br/>
                <h4 class="text-center mb-4">127 000 so'm</h4>
                <h6 class="text-center mb-0" style="color: red;">
                    Bog'lanish uchun shu yerga bosing &downarrow;
                </h6>
                <a type="button" class="btn-submit text-center mt-3" href="https://t.me/kelajakavlod01">
                    Kelajak avlod admin &raquo;
                </a>
            </div>
        </div>
        <div class="col-md rate-col-2">
            <div class="rate">
                <h3 class="text-center">Ajoyib tarifi</h3>
                <img src="{% static 'icons/check.png' %}" height="20"> Qo'llanma bo'yicha video tahlillar<br/><br/>
                <img src="{% static 'icons/check.png' %}" height="20"> O'zlashtirilgan bilimlar bo'yicha haftalik testlar<br/><br/>
                <img src="{% static 'icons/check.png' %}" height="20"> 24 soat ustozlar bilan aloqa<br/><br/>
                <img src="{% static 'icons/check.png' %}" height="20"> Ingliz tili darsliklari<br/><br/>
                <img src="{% static 'icons/check.png' %}" height="20"> Ustozlardan to'g'ri bilim olish bo'yicha tavsiyalar<br/><br/>
                <h4 class="text-center mb-4">187 000 so'm</h4>
                <h6 class="text-center mb-0" style="color: red;"`>
                    Bog'lanish uchun shu yerga bosing &downarrow;
                </h6>
                <a type="button" class="btn-submit text-center mt-3" href="https://t.me/kelajakavlod01">
                    Kelajak avlod admin &raquo;
                </a>
            </div>
        </div>
    </div>
    <h3 class="text-center">
        Hoziroq xarid qilsangiz <span class="discount-percent">10%</span> chegirma!
    </h3>
{% endif %}
<div class="container text-center w-100 p-5">
    {% if user.is_authenticated %}
        <a type="button" class="btn-download" id="download-btn" download>
            Kitobni yuklash <img src="{% static 'icons/download-icon.png' %}" class="ms-2" height="20">
        </a>
    {% else %}
        <h4 class="mb-4" style="color: red;">Kitobni yuklab olish uchun avval ro'yxatdan o'ting</h4>
        <a type="button" class="btn-download disabled" id="download-btn-disabled">
            Kitobni yuklash <img src="{% static 'icons/download-icon.png' %}" class="ms-2" height="20">
        </a>
    {% endif %}
</div>
{% if user.is_authenticated %}
    <div class="container product-container">
        <h3 class="fw-normal">Tez-tez so'raladigan savollar</h3>
        {% for question in faq %}
            <h6 class="fw-light">Savol: {{ question.question|markdownify }}</h6>
            <h6 class="fw-light">Javob: {{ question.answer|markdownify }}</h6>
        {% empty %}
            <h3 class="fw-light text-center mt-5 mb-5">Ma'lumotlar mavjud emas...</h3>
        {% endfor %}
    </div>
{% endif %}
<script>
    // Global variables or constants go here
    var usernames = [];

    // Event based functions go here
    $(document).ready(function () {
        let bold_texts = document.querySelectorAll('strong:not(#user-text)');
        for (let i = 0; i < bold_texts.length; i++) {
            let element = bold_texts[i]
            let text = element.textContent;
            element.innerHTML = "<u>" + text + "</u>";
        };
        let booked_places_percent = Percentify('{{ place.available_places }}', '{{ place.booked_places }}');
        document.getElementById('progress-percent').textContent = Math.ceil(booked_places_percent) + '%';
        $('#progress').css('width', String(Math.ceil(booked_places_percent) + '%'));
    });
    jQuery.ajax({
        url: '{% url "users:get-phone-numbers" %}',
        type: 'GET',
        dataType: 'json',
        headers: {
            'X-Requested-With': 'XMLHttpRequest',
        },
        success: function (data) {
            for (let i = 0; i < data.phone_numbers.length; i++) {
                usernames.push(String(data.phone_numbers[i]));
            };
        },
    });

    // Functions/methods go here
    function Percentify(total, value) {
        return value / total * 100;
    };

    function ScrollToPC(element) {
        element.scrollIntoView(
            {
                block: (window.innerWidth < 768) ? 'start':'center',
                behavior: 'smooth',
            }
        );
    };

    function ValidateAddress(field, error) {
        let value = String($(field).val());
        if (
                value &&
                is_space_only(value) === false && 
                value.length > 10
        ) {
            $(field).css('border-color', '#000');
            $(error).css('display', 'none');
            return true;
        } else {
            $(field).css('border-color', 'red');
            $(error).css('display', 'block');
            return false;
        };
    };

    function ValidateChildsClass(field, error) {
        let value = String($(field).val());
        if (
                value &&
                is_space_only(value) === false
                && value.length > 5
        ) {
            $(field).css('border-color', '#000');
            $(error).css('display', 'none');
            return true;
        } else {
            $(field).css('border-color', 'red');
            $(error).css('display', 'block');
            return false;
        };
    };

    function ValidateForm() {
        var name_valid = ValidateName('#names', '#names-error');
        var phone_number_valid = ValidatePhoneNumber('#phone_number', '#phone-number-error');
        var address_valid = ValidateAddress('#address', '#address-error');
        var childs_class_valid = ValidateChildsClass('#childs_class', '#childs-class-error');
        
        if (
                name_valid && 
                phone_number_valid && 
                address_valid &&  
                childs_class_valid
        ) {
            if (usernames.includes(String($('#phone_number').val())) === false) {
                return true
            } else {
                $('#phone_number').css('border-color', 'red');
                $('#phone-number-exists-error').css('display', 'block');
                return false;
            }
        } else {
            return false;
        }
    };

    function ValidateName(field, error) {
        let value = String($(field).val());
        if (
                value &&
                is_space_only(value) === false &&
                value.split(' ').length > 2
        ) {
            $(field).css('border-color', '#fff');
            $(error).css('display', 'none');
            return true;
        } else {
            $(field).css('border-color', 'red');
            $(error).css('display', 'block');
            return false;
        };
    };

    function ValidatePhoneNumber(field, error) {
        let value = String($(field).val());
        if (value.startsWith('+998') === true && isdigit(value.slice(1)) === true && value.length === 13) {
            $(field).css('border-color', '#000');
            $(error).css('display', 'none');
            return true;
        } else {
            $(field).css('border-color', 'red');
            $(error).css('display', 'block');
            return false;
        }
    };

    function is_space_only(string) {
        return /^\s+$/.test(string);
    };

    function isdigit(string) {
        return /^\d+$/.test(string);
    };
</script>
{% endblock content %}